--extra-index-url https://download.pytorch.org/whl/cu126
ipykernel
ipywidgets
numpy
requests
sentencepiece
torch
wandb
deepspeed==0.16.4
peft
accelerate>=0.29.1
transformers
bitsandbytes
scikit-learn
datasets
scipy
pandas
matplotlib
seaborn
trl
evaluate
python-dotenv
spacy
nilearn
pybids
openpyxl
hydra-core
sentence-transformers
benepar
spacy_syllables
nnsight
google-api-core
google-genai
tenacity